[submodule "detail/enkiTS"]
	path = detail/enkiTS
	url = https://github.com/dougbinks/enkiTS.git
[submodule "detail/minitrace"]
	path = detail/minitrace
	url = https://github.com/inequation/minitrace.git
